<div class="category-table">
  <app-data-table
    [columns]="columns"
    [data]="categories"
    [loading]="loading"
    emptyMessage="No hay categorías disponibles."
    (rowClick)="onCategorySelect($event)"
    (deleteClick)="onDeleteCategory($event)">
    >
  </app-data-table>
  
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [totalElements]="totalElements"
    [pageSize]="pageSize"
    [loading]="loading"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
