@import 'src/styles/variables';

.input-general {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-wrapper {
  position: relative; // Para posicionamiento absoluto del contador
  width: 100%;
}

.input {
  &__field {
    width: 100%;
    height: 40px;
    padding-left: 8px;
    padding-right: 48px; // Espacio para el contador
    border: 1px solid $color-border-form;
    border-radius: 8px;
    background-color: $color-white;
    font-family: $font-primary;
    font-size: 12px;
    color: $color-text-secondary;
    box-sizing: border-box;

    &::placeholder {
      color: $color-text-input;
      font-size: 12px;
      font-family: $font-primary;
    }
    
    &--error {
      border-color: $color-text-error-required;
    }
    
    &--with-counter {
      padding-right: 48px; // Asegurar espacio para el contador
    }
  }
  
  &__char-count {
    font-family: $font-primary;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: $color-text-secondary;
    background-color: rgba(255, 255, 255, 0.8); // Semi-transparente para no interferir mucho
    padding: 0 4px;
    border-radius: 4px;
    pointer-events: none; // Para que no interfiera con el input
  }
}

@media (min-width: 768px) {
  .input__field {
    font-size: 13px;
    
    &::placeholder {
      font-size: 13px;
    }
  }
  
  .input__char-count {
    font-size: 13px;
  }
}

@media (min-width: 1024px) {
  .input__field {
    font-size: 14px;
    
    &::placeholder {
      font-size: 14px;
    }
  }
  
  .input__char-count {
    font-size: 14px;
  }
}